@use '../abstracts/' as *;

.container {
    --padding: #{$container-padding};
    --max-width: #{$container-max-width};

    width: min(100% - var(--padding), var(--max-width));
    margin-inline: auto;
}

.container[data-type='narrow'] {
    --max-width: #{$container-max-width-narrow};
}

.container[data-type='wide'] {
    --max-width: #{$container-max-width-wide};
}

.container[data-type='full'] {
    --max-width: 100%;
}

// ======================
.home-grid {
    grid-template-columns: max-content auto;

    section:first-child {
        background-color: $clr-neutral-350;
        border-right: $global-neutral-border;
        padding: 1rem;
    }
}

.dictionary-grid {
    grid-template-columns: 21% auto;

    section:first-child {
        background-color: $clr-neutral-350;
        border-right: $global-neutral-border;
        height: 100%;
    }
}

@media(max-width: $breakpoint-small) {
    .home-grid {
        grid-template-columns: 1fr;
    }

    .dictionary-grid {
        grid-template-columns: 1fr;
    }
}