@use '../abstracts/' as *;
@use 'sass:color';

table, tr,td {
    border-collapse: collapse;
    padding: 0.75rem;
}

.table-container {
    --border-color: royalblue;
    border-top: $table-border-top-width solid var(--border-color);

    background: $table-background;
    border-radius: $border-radius-bevelled;

    border-inline: $table-border;
    border-block-end: $table-border;
    box-shadow: $table-box-shadow;

    tr:nth-child(2n),
    thead tr {
        background-color: $clr-neutral-300;
    }

    
    tr[data-type='positive'] {
        background-color: transparentize($clr-misc-positive, 0.66);
        border: $table-border-width solid $clr-misc-positive;
    }
    
    tr[data-type='negative'] {
        background-color: transparentize($clr-misc-negative, 0.66);
        border: $table-border-width solid $clr-misc-negative;
    }
    
    tr:is([data-target='true']) {
        border: $table-target-border-width solid $table-target-border-color;
    }
}